/* Base styles (mobile first) */
:root {
  --navbar-height: 50px;
  --navbar-height-small: 35px;
  --navbar-height-medium: 50px;
  --navbar-height-large: 50px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - var(--navbar-height));
  text-align: center;
  background-color: #f0f2f5;
  padding-top: var(--navbar-height);
}


.landing-header {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.landing-main {
  margin: 2rem;
  font-size: 1.2rem;
}

.roundedImage {
  width: 70%;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
}

.textContainer {
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  text-align: left;
}

h2,
h3 {
  color: #2c3e50;
}

.lead {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.secondary {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #777;
}

.list {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  list-style-position: outside;
}

.list li {
  margin-bottom: 0.5rem;
}

/* Responsive styles for tablet devices */
@media (min-width: 768px) {
  :root {
    --navbar-height: var(--navbar-height-medium);
  }

  .landing-header {
    font-size: 2rem;
  }

  .roundedImage {
    width: 50%;
  }

  .textContainer {
    width: 85%;
  }

  .lead {
    font-size: 1.1rem;
  }

  .secondary {
    font-size: 0.95rem;
  }

  .list {
    margin-left: 1.5rem;
  }
}

/* Responsive styles for desktop devices */
@media (min-width: 1025px) {
  :root {
    --navbar-height: var(--navbar-height-large);
  }

  .roundedImage {
    width: 40%;
  }

  .textContainer {
    width: 80%;
  }

  .lead {
    font-size: 1.2rem;
  }

  .secondary {
    font-size: 1rem;
  }

  .list {
    margin-left: 1.5rem;
  }
}
